<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="使用 Top 15 在你的网站中展示最近看过/读过/听过的电影/书/音乐！">
    <meta name="keywords" content="Jackeriss,top15,Top15">
    <title>{% block title %}Top 15{% end %}</title>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://top15-1252826939.file.myqcloud.com/image/icon.png">
    <link rel="shortcut icon" href="https://top15-1252826939.file.myqcloud.com/image/icon.png">
    {% block head %}{% end %}
  </head>
  <body>
    {% block section %}{% end %}
  </body>
  <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  {% block script %}{% end %}
</html>
