<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Top 15</title>
    <link href="//www.binarization.com/top15/css/bootstrap.min.css" rel="stylesheet">
    <link href="//www.binarization.com/top15/css/wait.css" rel="stylesheet">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//www.binarization.com/images/logo.png">
    <link rel="shortcut icon" href="//www.binarization.com/images/logo.png">
    <script src="//www.binarization.com/top15/js/jquery.min.js"></script>
    <script>
      var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
    </script>
    <script src="//www.binarization.com/top15/js/wait.js"></script>
  </head>
  <body>
    <div class="spinner">
      <div class="spinner-container container1">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container2">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container3">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
    </div>
    <div class="waiting"></div>
    <input type="hidden" id="user_id" value="{{ user_id }}"/>
    <input type="hidden" id="object_type" value="{{ object_type }}"/>
    <input type="hidden" id="group_type" value="{{ group_type }}"/>
    <input type="hidden" id="order_by" value="{{ order_by }}"/>
    <input type="hidden" id="tag" value="{{ tag }}"/>
  </body>
</html>
